@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.light_red {
  color: hsl(0, 100%, 67%)
}

.orangey_yellow {
  color: hsl(39, 100%, 56%)
}


.green_teal {
  color: hsl(166, 100%, 37%)
}

.cobalt_blue {
  color:  hsl(234, 85%, 45%)
}

.pale-blue {
  color: hsl(221, 100%, 96%);
}

.light-lavender {
  color: hsl(241, 100%, 89%);
}

.white {
  color: white;
}

p {
  font-size: 15px;
}

html, body {
  background-color: hsl(221, 100%, 96%);
  font-family: 'Hanken Grotesk', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.card {
  background-color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  border-radius: 25px;
  flex-direction: row;
}

.result {
  background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
  width: 275px;
  height: fit-content;
  color: hsla(221, 100%, 96%, 75%);
  border-radius: 25px;
  padding: 20px;
}

.content {
  margin: 10px 20px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 10px 0 10px 0;
  font-weight: 400;
}

.score {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0));

  display: flex;
  flex-direction: column;
  /* align-self: center; */
  /* align-items: center; */
  justify-content: center;
  margin: 20px 0 20px 0;
}

.score-number {
  font-size: 4em;
  color: white;
  font-weight: 800;
}
.summary {
  width: 50%;
  height: 100%;
}

.subtext {
  padding: 0 10px 0 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    align-items: start;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  .result {
    width: 100%;
    padding: 0;
    border-radius: 0 0 25px 25px;
  }

  .subtext {
    padding: 0 30px 20px 30px;
  }
}